<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!--Simbolo do desafio-->
  <a class="navbar-brand text-light" href="home">
    <fa name="cubes"></fa>ChallengeMAL
  </a>

  <!--menu-->
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
    </ul>
  </div>

  <!--SearchBar-->
  <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>