
<br>
<!-- Jumbotron -->
<div class="row  justify-content-md-center">
<div class="jumbotron text-center text-dark bg-primary text-center col-xl-10 col-md-offset-3 ">
  
    <!-- Grid row -->
    <!-- Grid row -->
  <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 offset-md-1 mx-3 my-3">
  
        <!-- Featured image -->
        <div class="view overlay">
          <img src="../../assets/img/piramid-yugi.png" class="img-fluid" alt="piramide imagem">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
      </div>
  
      <!-- Grid column -->
      <div class="col-xl-7 pb-2">
         <!-- Title -->
    <h1 class="card-title text-warning">Anime Pyramid Challenge</h1>
  
    <!-- Subtitle -->
    <h3 class="my-4 h3">Venha participar desse desafio!</h3>
  
        <h5 class="card-text">O <b class="text-warning">Anime Pyramid Challenge</b> é um desafio onde o objetivo é cumprir uma piramide que é dividida em 5 camadas, sendo que cada camada possui uma tarefa diferente, com uma quantidade de animes diferentes.
          A cada etapa, a quantia de animações passa a ser menor, porém, as missões se tornam mais desafiantes! Venha escalar está piramide com a gente!
        </h5>
        <br>
        <app-carousel-home-regras></app-carousel-home-regras>
      </div>
      <!-- Grid column -->
      
      
  
    </div>
    <!-- Grid row -->
  
    <hr class="my-4 rgba-white-light">
  
    <div class="pt-2">
      <button type="button" class="btn btn-outline-warning">Saiba mais<i class="fa fa-cubes ml-1"></i></button> &nbsp;&nbsp;&nbsp;&nbsp;
      <button type="button" class="btn btn-outline-warning">Cadastre-se!<i class="fa fa-cubes ml-1"></i></button>
    </div>
  
  </div>
  <!-- Jumbotron -->
</div>

<div class="card">
        <div class="card-body">
          <h5 class="card-title">DESAFIO DO MAL</h5>
          <p class="card-text">Explicação de como funciona o desafio de forma breve, incluindo aqui relação com o ranking e utilização</p>
          <a href="#" class="btn btn-primary">Pagina de explicação das regras e funcionamentos</a>
          <a href="#" class="btn btn-secondary ">Botão para cadastro</a>
        </div>
        </div>
      
    <div class="jumbotron jumbotron-style">
      <h1 class="display-4">Participantes - provavelmente em um carrousel</h1>
      <p class="lead">Mostrar ultimos 5 participantes, grau que está no desafio e ultimos 3 animes adicionados na lista (prioridade aos ultimos finalizados)</p>
      <hr class="my-4">
      <p></p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Link para o perfil do usuário</a>
    </div>
    
    <div class="jumbotron jumbotron-style">
        <h1 class="display-4">Footer</h1>
        <p class="lead">Redes sociais, informações e parceiros</p>
        <hr class="my-4">
        <p></p>
      </div>
    